* {
    box-sizing: border-box;
}

.widget-link {
    color: blue;
    font-weight: bolder;
    text-decoration: underline;
    width: fit-content;
}

.widget-button {
    background: red;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
}

.widget-label {
    border: 1px solid black;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.5rem 1rem;
}